@use '../abstracts/' as *;

/* purgecss start ignore */

footer,
.footer {
  padding: 4rem 0;
  font-size: $fs-small;

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: wrap;

    & > * {
      flex-grow: 1;
    }
  }

  .footer-logo {
    height: 5rem;
  }

  .socials {
    height: 2.5rem;
    width: 2.5rem;
    transition: $transition;

    &:hover {
      scale: 1.15;
    }
  }

  @media screen and (max-width: 900px) {
    .footer-col-1 {
      width: 100%;
    }

    .footer-logo {
      height: 4rem;
    }
  }
}

/* purgecss end ignore */
