@use '../abstracts/' as *;

.section,
section {
  & * {
    z-index: 10;
  }

  &.padding-both {
    padding: $padding-section 0;
  }

  &.padding-top {
    padding-top: $padding-section;
  }

  &.padding-bottom {
    padding-bottom: $padding-section;
  }

  &.header-section {
    padding-top: clamp(10rem, 6.129rem + 12.9032vw, 15rem);
  }
}
