@use '../abstracts/' as *;

.section,
section {
  & * {
    z-index: 10;
  }

  &.padding-both {
    padding: $padding-section 0;
  }

  &.padding-top {
    padding-top: $padding-section;
  }

  &.padding-bottom {
    padding-bottom: $padding-section;
  }
}
