<!---- Footer ---->
<footer class="padding-both">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-col-1 flex flex-row fa-center gap-4">
        <img class="footer-logo" src="./images/logo_tklumi.svg" alt="" />
        <div class="flex flex-row gap-2">
          <a class="socials" href=""><img src="./images/icons/ikona_facebook.svg" alt="" /></a>
          <a class="socials" href=""><img src="./images/icons/ikona_instagram.svg" alt="" /></a>
        </div>
      </div>
      <div class="footer-col-2 flex flex-col">
        <p><strong>Fakturační údaje</strong></p>
        <p>TK Lumi Tech s.r.o.</p>
        <p>Nové sady 988/2, Staré Brno, 602 00 Brno</p>
        <p>IČO: 17875200</p>
      </div>
      <div class="footer-col-3 flex flex-col">
        <p><strong>Kontakt</strong></p>
        <p>Tomáš Kopřiva</p>
        <p>+420 603 874 061</p>
        <p>info@tklumi.cz</p>
      </div>
      <div class="flex fa-end">
        <p>
          © 2024 Všechna práva vyhrazena -
          <a href="https://www.dtremote.com/" target="_blank">Vyrobeno v Brandguys.cz</a> |
          <a href="javascript:void()" type="button" data-cc="c-settings">Nastavení cookies</a>
        </p>
      </div>
    </div>
  </div>
</footer>
