<!---- Main navigation ---->
<header class="header-nav" id="header-nav">
  <div class="container">
    <nav class="main-nav">
      <a href="./index.html">
        <img class="nav-logo" src="./images/logo_tklumi.svg" alt="Company Logo" />
      </a>
      <div class="menu-btn"><div class="menu-btn-burger"></div></div>
      <div class="nav-menu">
        <ul class="nav-menu-list">
          <li><a href="#sluzby">Naše služby</a></li>
          <li><a href="#o-nas">O nás</a></li>
          <li><a href="#reference">Reference</a></li>
          <li>
            <a class="button" href="#kontakt"><img src="./images/icons/blesk_zluty.svg" alt="" />Kontaktujte nás</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script async src="./js/main-nav.js"></script>
