/* Custom CSS */
/* -------------------------------------------------------------------- */

/* purgecss start ignore */

.h2-wrapper {
  margin-bottom: clamp(1.75rem, 1rem + 2.6667vw, 3rem);

  img {
    width: 1rem;
  }
}

// Features
.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: $accent;
  padding: clamp(1.5rem, 0.7857rem + 2.2857vw, 2.5rem);
  border-radius: $border-radius-lg;
  text-align: center;

  & .feature__icon {
    width: 2.5rem;
  }

  & .h4 {
    font-size: clamp(1.5rem, 0.7857rem + 2.2857vw, 2.5rem);
  }
}

.features__more {
  gap: clamp(1rem, -1.8571rem + 9.1429vw, 5rem);
  row-gap: 1rem;
  font-size: clamp(1rem, 0.4rem + 2.1333vw, 2rem);
  font-family: $ff-accent;
  font-weight: 500;
}

// Info section

.content-col {
  gap: clamp(1.5rem, 0.9rem + 2.1333vw, 2.5rem);

  .h2-wrapper {
    margin-bottom: 0;
  }
}

.img--rounded {
  border-radius: $border-radius-lg;
}

.img-col {
  height: max-content;

  .decorative-blesk {
    width: 4rem;
    bottom: -10%;
    right: 10%;
  }
}

// Clients

.img-client {
  width: 100%;
  max-height: 280px;
}

.client__logos-wrapper {
  gap: clamp(1rem, -1.8571rem + 9.1429vw, 5rem);
  row-gap: 1rem;
  margin-top: clamp(2.5rem, 1rem + 5.3333vw, 5rem);

  .client__logo {
    height: 3.5rem;
  }
}

/* purgecss end ignore */
