/* Custom CSS */
/* -------------------------------------------------------------------- */

/* purgecss start ignore */

.h2-wrapper {
  margin-bottom: clamp(1.75rem, 1rem + 2.6667vw, 3rem);

  img {
    width: 1rem;
  }
}

// Hero

.hero-content {
  padding-top: clamp(10rem, 6.129rem + 12.9032vw, 15rem);
  padding-bottom: clamp(12.5rem, 6.6935rem + 19.3548vw, 20rem);
}

.hero-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 950px) {
    img {
      display: none;
    }
  }

  /* img {
    position: absolute;
    width: auto;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
  } */
}

// Features

.section-bg-features {
  position: relative;
  z-index: 100;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    bottom: 0;
    right: 0;
    background-color: $gray-light;
  }
}

.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: $accent;
  padding: clamp(1.5rem, 0.7857rem + 2.2857vw, 2.5rem);
  border-radius: $border-radius-lg;
  text-align: center;

  & .feature__icon {
    width: 2.5rem;
  }

  & .h4 {
    font-size: clamp(1.5rem, 0.7857rem + 2.2857vw, 2.5rem);
  }
}

.features__more {
  gap: clamp(1rem, -1.8571rem + 9.1429vw, 5rem);
  row-gap: 1rem;
  font-size: clamp(1rem, 0.4rem + 2.1333vw, 2rem);
  font-family: $ff-accent;
  font-weight: 500;
  text-align: center;
}

// Info section

.content-col {
  gap: clamp(1.5rem, 0.9rem + 2.1333vw, 2.5rem);

  .h2-wrapper {
    margin-bottom: 0;
  }

  &.spoluprace {
    padding: $padding-section 0;
    padding-right: clamp(1rem, 0.7653rem + 0.8163vw, 1.5rem);
    justify-content: center;
  }
}

.img--rounded {
  border-radius: $border-radius-lg;
}

.img-col {
  height: max-content;

  .decorative-blesk {
    width: 4rem;
    bottom: -10%;
    right: 10%;
  }
}

// Clients

.img-client {
  width: 100%;
  max-height: 280px;
}

.client__logos-wrapper {
  gap: clamp(1rem, -1.8571rem + 9.1429vw, 5rem);
  row-gap: 1rem;
  margin-top: clamp(2.5rem, 1rem + 5.3333vw, 5rem);

  .client__logo {
    height: 3.5rem;
  }
}

.top-shadow-white {
  z-index: 1 !important;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    background-color: $white;
  }
}

// Spolupráce

.section-left-bg-yellow {
  &::before {
    content: '';
    position: absolute;
    width: 200vw;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $accent;
    border-top-right-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
  }
}

@media screen and (max-width: 1250px) {
  .section-left-bg-yellow::before {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: -20vw;
  }

  .section-spoluprace {
    padding-top: 0 !important;
  }
}

.spoluprace__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

  & .feature__icon {
    width: 2.5rem;
  }
}

/* purgecss end ignore */
